#principal{
	                                                                                                                          
      width: 1000px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin: auto;
      
}


.fondo {
   background-image: url("../img/fon.jpg");
width: 100%;
      height: 4g00vh;

     background-size: cover;
      background-postition:center;
}



   

header{
	width:900px;
	height:200px;
	border: 0px solid #000;
}

#logo{
	width: 100px;
	height:100px;
	border: 0px solid #000;
	float: left; font-family: sans-serif;
}

.titulo{
	margin-top: 50px;
	font-size: 30px;
}

.sub-titulo{
	font-size: px;
	margin-top: -20px;
}

.menu{
	width: 500px;
	height: 50px;
	border: 4px solid #ccc;
	float: right;
	margin-top: 6px;
	background: #;
}

.menu ul{}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	text-decoration: none;
	padding: 15px 15px;
	border: px solid # FF149;
	color: # FFB6C1; 
}

.menu ul li a:hover{
	background: #fff;
	color: #FFC0CB;
	transition: background 1s, color 1s;
}

#slide{
	margin-top: -5px;
	width: 1000px;
	height: 250px;
}

#categorias{
	width: 1000px;
	height: auto; overflow: hidden;
	border: px solid;
	margin-top: 0px;
}

.uno{
	width 200px;
	height: auto; overflow: hidden;
	border: 2px solid #ccc;
	float: left;
	padding: 0px;
	text-align: center;
	color: #FFA500;
}

.parrafo{
	color: #000000;
	text-align: justify;
}
.dos{
	margin-left: 12px;
	margin-right: 12px;
}

.leer-mas{
	text-decoration: none;
	border: 1px solid #006699;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
}

.leer-mas:hover{
	background: #006699;
	color: #FF1493;
	transition: background 1s, color 1s;
}


#info{
	width: 1000px;
	height: auto; overflow: hidden;
	border: 0px solid #c0c0c0;
	margin-top: 10px; color: 
}

#izq{
	width: 1000px;
	height: auto; overflow: hidden;
	border: 5px solid #ccc;
	float: left;
	padding: 1px; color: #4682b4;
}

.img{
	margin-right: 10px;
	margin-bottom: 20px;
}


#der{
	width: 290px;
	height: 300px;
	border: 1px solid #ccc;
	float: right;
	color: 
}

footer{
	width: 900px;
	height: 100px;
	text-align: center;
}

#footer p{
	width: 500px;
}

/*------------contacto------------------------*/
#formulario{
	width: 432px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	float: left
}

#mapa{
	width: 432px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	float: right;
}

input[type="text"]{
	border: 1px solid #c1c1c1; padding: 6px;
	width: 97%;
}

textarea{
	border: 1px solid #c1c1c1; padding: 6px;
	width: 100%;
}

.enviar{
	padding: 10px 20px;
	background: #006699;
	color: #fdfdfd;
	font-size: 16px;
}

#form{}

#datos{
	margin-top: 100Gpx;
}